/* --- GENERAL CLASSES & DEFINITIONS --- */
@font-face {
  font-family: 'Digital-7';
  src: url('../../res/fonts/Digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: 0.2rem solid #99ccff;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background: #dddddd;
}
h1 {
  font-size: 1.6rem;
  margin-block: 0.4rem;
}
table {
  font-size: 1rem;
  background-color: #333333;
}
thead {
  background-color: #111177;
  color: #eeeeee;
}
th {
  font-weight: 600;
}
tbody {
  background-color: #eeeeee;
  color: #333333;
}
td {
  font-weight: 300;
}

.main {
  background-color: #777777;
  padding: 0.2rem;
  min-width: max-content;
  min-height: max-content;
}

.container {
  display: grid;
  gap: 0.2rem;
}

.display-part {
  background-color: #333333;
  color: #bbff66;
  font-size: 2.4rem;
  line-height: 100%;
}

.display-font {
  font-family: 'Digital-7';
  padding: 0.2rem;
}
.generic-font {
  font-family: monospace;
  padding: 0.2rem;
}

.record {
  background-color: #333333;
  color: #999999;
  padding: 0.4rem;
  font-size: 1.2rem;
}

/* Button definitions */
.button-normal-M {
  height: 3rem;
  width: 3rem;
  font-size: 1.2rem;
  line-height: 100%;
}
.button-normal-L {
  height: 6rem;
  width: 6rem;
  font-size: 2.4rem;
  line-height: 100%;
}
.button-tall-L {
  height: 12rem;
  width: 6rem;
  font-size: 1.5rem;
  line-height: 100%;
}
.button-long-M {
  height: 3rem;
  width: 12rem;
  font-size: 1.2rem;
  line-height: 100%;
}
.button-helper-M {
  height: 6rem;
  width: 9rem;
  font-size: 1.5rem;
  line-height: 100%;
}

/* Clickable definitions */
.clickable-grey,
.clickable-grey:active {
  border-color: #555555;
  color: #555555;
  cursor: pointer;
}
.clickable-grey {
  background-color: #bbbbbb;
}
.clickable-grey:active {
  background-color: #999999;
}
.clickable-grey:disabled,
.clickable-grey:disabled:active {
  border-color: #999999;
  background-color: #bbbbbb;
  color: #999999;
  cursor: not-allowed;
}

.clickable-green,
.clickable-green:active {
  border-color: #446644;
  color: #446644;
  cursor: pointer;
}
.clickable-green {
  background-color: #88aa88;
}
.clickable-green:active {
  background-color: #668866;
}
.clickable-green:disabled,
.clickable-green:disabled:active {
  border-color: #668866;
  background-color: #88aa88;
  color: #668866;
  cursor: not-allowed;
}

.clickable-red,
.clickable-red:active {
  border-color: #774444;
  color: #774444;
  cursor: pointer;
}
.clickable-red {
  background-color: #bb8888;
}
.clickable-red:active {
  background-color: #886666;
}
.clickable-red:disabled,
.clickable-red:disabled:active {
  border-color: #886666;
  background-color: #bb8888;
  color: #886666;
  cursor: not-allowed;
}

/* Aligning definitions */
.top-left {
  align-self: start;
  justify-self: start;
}
.top-center {
  align-self: start;
  justify-self: center;
}
.top-right {
  align-self: start;
  justify-self: end;
}
.top-stretch {
  align-self: start;
  justify-self: stretch;
}

.center-left {
  align-self: center;
  justify-self: start;
}
.center-center {
  align-self: center;
  justify-self: center;
}
.center-right {
  align-self: center;
  justify-self: end;
}
.center-stretch {
  align-self: center;
  justify-self: stretch;
}

.bottom-left {
  align-self: end;
  justify-self: start;
}
.bottom-center {
  align-self: end;
  justify-self: center;
}
.bottom-right {
  align-self: end;
  justify-self: end;
}
.bottom-stretch {
  align-self: end;
  justify-self: stretch;
}

.stretch-left {
  align-self: stretch;
  justify-self: start;
}
.stretch-center {
  align-self: stretch;
  justify-self: center;
}
.stretch-right {
  align-self: stretch;
  justify-self: end;
}
.stretch-stretch {
  align-self: stretch;
  justify-self: stretch;
}

/* --- STRUCTURE OF ELEMENTS --- */

/* Main ------------------------------------------------ */
#machine {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 16fr 3fr;
}
#first-title {
  grid-column: 1;
  grid-row: 1;
}
#second-title {
  grid-column: 2;
  grid-row: 1;
}
#third-title {
  grid-column: 3;
  grid-row: 1;
}
#first-section {
  grid-column: 1;
  grid-row: 2;
}
#second-section {
  grid-column: 2;
  grid-row: 2;
}
#third-section {
  grid-column: 3;
  grid-row: 2;
}
#lower-section {
  grid-column: 1 / 4;
  grid-row: 3;
}
/* ----------------------------------------------------- */

/* First Section --------------------------------------- */
#first-section {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
}
#coin-btn-50 {
  grid-column: 2;
  grid-row: 2;
}
#coin-btn-1E {
  grid-column: 2;
  grid-row: 3;
}
#coin-btn-2E {
  grid-column: 2;
  grid-row: 4;
}
/* ----------------------------------------------------- */

/* Second Section -------------------------------------- */

#second-section {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
/* ----------------------------------------------------- */

/* Third Section --------------------------------------- */
#third-section {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
/* ----------------------------------------------------- */

/* Lower Section -------------------------------------- */
#lower-section {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
}
#helper-btn-tab {
  grid-column: 1;
  grid-row: 1;
}
#helper-btn-enter {
  grid-column: 2;
  grid-row: 1;
}
#act-btn-records {
  grid-column: 3;
  grid-row: 1;
}
/* ----------------------------------------------------- */
