/* --- GENERAL CLASSES & DEFINITIONS --- */
@font-face {
  font-family: 'Digital-7';
  src: url('../../res/fonts/Digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:focus {
  outline: 0.3rem solid #99ccff;
}

body {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100vh;
  background: #dddddd;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}
h1 {
  font-size: 1.6rem;
  margin-block: 0.4rem;
}
table {
  font-size: 1rem;
  background-color: #333333;
}
thead {
  background-color: #111177;
  color: #eeeeee;
}
th {
  font-weight: 600;
}
tbody {
  background-color: #eeeeee;
  color: #333333;
}
td {
  font-weight: 300;
}

.main {
  background-color: #777777;
  padding: 0.2rem;
  min-width: max-content;
  min-height: max-content;
}

.container {
  display: grid;
  gap: 0.2rem;
}

.display-part {
  background-color: #333333;
  color: #bbff66;
  font-size: 2.4rem;
  line-height: 100%;
}

/* --- Font classes --- */
.display-font {
  font-family: 'Digital-7';
  padding: 0.2rem;
  line-height: 100%;
}
.generic-font {
  font-family: monospace;
  padding: 0.2rem;
  line-height: 100%;
}

.font-size-M {
  font-size: 1.2rem;
}
.font-size-L {
  font-size: 2.4rem;
}

/* --- Button classes --- */
.button-with-icon {
  border-radius: 0.6rem;
  box-sizing: border-box;
  border-width: 0.3rem;
  border-style: solid;
}
.button-history {
  height: 3rem;
  width: 12rem;
  font-size: 1.5rem;
}
.button-helper {
  height: 6rem;
  width: 9rem;
  font-size: 1.5rem;
}

/* --- Clickable classes --- */
.clickable-black,
.clickable-black:active {
  background-color: #222222;
  color: #dddddd;
  cursor: pointer;
}
.clickable-black {
  border-color: #dddddd;
}
.clickable-black:active {
  border-color: #555555;
}
.clickable-black:disabled,
.clickable-black:disabled:active {
  border-color: #999999;
  background-color: #222222;
  color: #999999;
  cursor: not-allowed;
}

.clickable-white,
.clickable-white:active {
  border-color: #777777;
  color: #777777;
  cursor: pointer;
}
.clickable-white {
  background-color: #ffffff;
}
.clickable-white:active {
  background-color: #cccccc;
}
.clickable-white:disabled,
.clickable-white:disabled:active {
  border-color: #cccccc;
  background-color: #ffffff;
  color: #cccccc;
  cursor: not-allowed;
}

.clickable-grey,
.clickable-grey:active {
  border-color: #555555;
  color: #555555;
  cursor: pointer;
}
.clickable-grey {
  background-color: #bbbbbb;
}
.clickable-grey:active {
  background-color: #999999;
}
.clickable-grey:disabled,
.clickable-grey:disabled:active {
  border-color: #999999;
  background-color: #bbbbbb;
  color: #999999;
  cursor: not-allowed;
}

.clickable-green,
.clickable-green:active {
  border-color: #446644;
  color: #446644;
  cursor: pointer;
}
.clickable-green {
  background-color: #88aa88;
}
.clickable-green:active {
  background-color: #668866;
}
.clickable-green:disabled,
.clickable-green:disabled:active {
  border-color: #668866;
  background-color: #88aa88;
  color: #668866;
  cursor: not-allowed;
}

.clickable-red,
.clickable-red:active {
  border-color: #774444;
  color: #774444;
  cursor: pointer;
}
.clickable-red {
  background-color: #bb8888;
}
.clickable-red:active {
  background-color: #886666;
}
.clickable-red:disabled,
.clickable-red:disabled:active {
  border-color: #886666;
  background-color: #bb8888;
  color: #886666;
  cursor: not-allowed;
}

.clickable-red-2,
.clickable-red-2:active {
  border-color: #444444;
  color: #eeeeee;
  cursor: pointer;
}
.clickable-red-2 {
  background-color: #ee0000;
}
.clickable-red-2:active {
  background-color: #bb0000;
}
.clickable-red-2:disabled,
.clickable-red-2:disabled:active {
  border-color: #444444;
  background-color: #999999;
  color: #eeeeee;
  cursor: not-allowed;
}

/* --- Text aligning classes --- */
.text-left {
  text-align: start;
}
.text-right {
  text-align: end;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}

/* --- Element aligning classes --- */
.top-left {
  align-self: start;
  justify-self: start;
}
.top-center {
  align-self: start;
  justify-self: center;
}
.top-right {
  align-self: start;
  justify-self: end;
}
.top-stretch {
  align-self: start;
  justify-self: stretch;
}

.center-left {
  align-self: center;
  justify-self: start;
}
.center-center {
  align-self: center;
  justify-self: center;
}
.center-right {
  align-self: center;
  justify-self: end;
}
.center-stretch {
  align-self: center;
  justify-self: stretch;
}

.bottom-left {
  align-self: end;
  justify-self: start;
}
.bottom-center {
  align-self: end;
  justify-self: center;
}
.bottom-right {
  align-self: end;
  justify-self: end;
}
.bottom-stretch {
  align-self: end;
  justify-self: stretch;
}

.stretch-left {
  align-self: stretch;
  justify-self: start;
}
.stretch-center {
  align-self: stretch;
  justify-self: center;
}
.stretch-right {
  align-self: stretch;
  justify-self: end;
}
.stretch-stretch {
  align-self: stretch;
  justify-self: stretch;
}

/* --- STRUCTURE OF ELEMENTS --- */

/* Main ------------------------------------------------ */
#machine {
  grid-template-columns: repeat(24, 3rem);
  grid-template-rows: repeat(20, 3rem);
}
#display-first-title {
  grid-column: 1 / span 8;
  grid-row: 1;
}
#display-second-title {
  grid-column: 9 / span 8;
  grid-row: 1;
}
#display-third-title {
  grid-column: 17 / span 8;
  grid-row: 1;
}
#first-section {
  grid-column: 1 / span 8;
  grid-row: 2 / span 16;
}
#second-section {
  grid-column: 9 / span 8;
  grid-row: 2 / span 16;
}
#third-section {
  grid-column: 17 / span 8;
  grid-row: 2 / span 16;
}
#lower-section {
  grid-column: 1 / span 24;
  grid-row: 18 / span 3;
}
/* ----------------------------------------------------- */

/* First Section --------------------------------------- */
#first-section {
  grid-template-columns: repeat(4, calc(100% / 4));
  grid-template-rows: repeat(8, calc(100% / 8));
}
#coin-btn-50 {
  grid-column: 2;
  grid-row: 2;
}
#coin-btn-1E {
  grid-column: 2;
  grid-row: 3;
}
#coin-btn-2E {
  grid-column: 2;
  grid-row: 4;
}
#display-cash {
  grid-column: 3;
  grid-row: 2 / span 3;
}
#act-btn-cancel {
  grid-column: 2 / span 2;
  grid-row: 5;
}
#act-btn-take {
  grid-column: 2 / span 2;
  grid-row: 6 / span 2;
}
/* ----------------------------------------------------- */

/* Second Section -------------------------------------- */

#second-section {
  grid-template-columns: repeat(4, calc(100% / 4));
  grid-template-rows: repeat(4, calc(100% / 4));
}
#drink-btn-cola {
  grid-column: 2;
  grid-row: 1;
}
#drink-btn-lemon {
  grid-column: 2;
  grid-row: 2;
}
#drink-btn-orange {
  grid-column: 2;
  grid-row: 3;
}
#drink-btn-jd {
  grid-column: 2;
  grid-row: 4;
}
#display-price-cola {
  grid-column: 3;
  grid-row: 1;
}
#display-price-lemon {
  grid-column: 3;
  grid-row: 2;
}
#display-price-orange {
  grid-column: 3;
  grid-row: 3;
}
#display-price-jd {
  grid-column: 3;
  grid-row: 4;
}
/* ----------------------------------------------------- */

/* Third Section --------------------------------------- */
#third-section {
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
#act-btn-drink {
  grid-column: 1;
  grid-row: 1;
}
/* ----------------------------------------------------- */

/* Lower Section --------------------------------------- */
#lower-section {
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr;
}
#helper-btn-tab {
  grid-column: 1;
  grid-row: 1;
}
#helper-btn-enter {
  grid-column: 2;
  grid-row: 1;
}
#act-btn-records {
  grid-column: 3;
  grid-row: 1;
}
/* ----------------------------------------------------- */

/* --- ICONS OF BUTTONS --- */

/* Coin buttons ---------------------------------------- */
#coin-btn-50 img {
  content: url('../../res/images/Coins_-_Enabled/Cents_euro_50.jpg');
}
#coin-btn-50:disabled img {
  content: url('../../res/images/Coins_-_Disabled/Cents_euro_50.jpg');
}
#coin-btn-1E img {
  content: url('../../res/images/Coins_-_Enabled/Euro_1.jpg');
}
#coin-btn-1E:disabled img {
  content: url('../../res/images/Coins_-_Disabled/Euro_1.jpg');
}
#coin-btn-2E img {
  content: url('../../res/images/Coins_-_Enabled/Euro_2.jpg');
}
#coin-btn-2E:disabled img {
  content: url('../../res/images/Coins_-_Disabled/Euro_2.jpg');
}
/* ----------------------------------------------------- */

/* Drink buttons --------------------------------------- */
#drink-btn-cola img {
  content: url('../../res/images/Beverages_-_Enabled/Coca_Cola.jpg');
}
#drink-btn-cola:disabled img {
  content: url('../../res/images/Beverages_-_Disabled/Coca_Cola.jpg');
}
#drink-btn-lemon img {
  content: url('../../res/images/Beverages_-_Enabled/Fanta_Lemon.jpg');
}
#drink-btn-lemon:disabled img {
  content: url('../../res/images/Beverages_-_Disabled/Fanta_Lemon.jpg');
}
#drink-btn-orange img {
  content: url('../../res/images/Beverages_-_Enabled/Fanta_Orange.jpg');
}
#drink-btn-orange:disabled img {
  content: url('../../res/images/Beverages_-_Disabled/Fanta_Orange.jpg');
}
#drink-btn-jd img {
  content: url('../../res/images/Beverages_-_Enabled/Jack_Daniel_s_Coca_Cola.jpg');
}
#drink-btn-jd:disabled img {
  content: url('../../res/images/Beverages_-_Disabled/Jack_Daniel_s_Cola_Cola.jpg');
}
/* ----------------------------------------------------- */

/* Extra buttons --------------------------------------- */
#act-btn-take img {
  content: url('../../res/images/Coins_taking/Coins_taking.jpg');
}
#act-btn-take:disabled img {
  content: url('../../res/images/Coins_taking/Coins_taking.jpg');
}
/* ----------------------------------------------------- */
