{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "all",
  "bracketSpacing": true,
  "printWidth": 9999,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": [
        "*.html",
        "*.css",
        "*.json",
        "*.xml",
        "*.xsl",
        "*.xslt",
        "eslint.config.*",
        ".prettierrc",
        ".prettierrc.*"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}